MTNClient/MTNClient/Web References/WebServiceRef/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtngirl.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mtngirl.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mtngirl.com/">
      <s:element name="SelectCertificates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="certs_drive" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCertificatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCertificatesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCertificates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfCertificate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCertificate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Certificate" nillable="true" type="tns:Certificate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Certificate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="certs_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="certs_type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="certs_not_after" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="certs_drive" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="certs_ca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="certs_full_filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="certs_byte_der" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="certs_byte_key" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertCertificatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCertificatesResult" type="tns:ArrayOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBoolean">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectCertificatesSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCertificates" />
  </wsdl:message>
  <wsdl:message name="SelectCertificatesSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCertificatesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCertificatesSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCertificates" />
  </wsdl:message>
  <wsdl:message name="InsertCertificatesSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCertificatesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="SelectCertificates">
      <wsdl:input message="tns:SelectCertificatesSoapIn" />
      <wsdl:output message="tns:SelectCertificatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCertificates">
      <wsdl:input message="tns:InsertCertificatesSoapIn" />
      <wsdl:output message="tns:InsertCertificatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectCertificates">
      <soap:operation soapAction="http://mtngirl.com/SelectCertificates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificates">
      <soap:operation soapAction="http://mtngirl.com/InsertCertificates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectCertificates">
      <soap12:operation soapAction="http://mtngirl.com/SelectCertificates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificates">
      <soap12:operation soapAction="http://mtngirl.com/InsertCertificates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://192.168.219.194:86/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://192.168.219.194:86/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>